

<!-- banner section -->
<section style="background-color: black;">
    <div class="container">
        <div class="row justify-content-center">
                <div class="position-relative">
                    <img src="~/images/Home/IMG_3364(2).png" class="img-fluid fit-image-to-window easeload" onload="this.style.opacity=1">
                    <button type="button" class="btn btn-primary position-absolute top-50 start-50 translate-middle">Shop Now</button>
                </div>
        </div>
    </div>
</section>

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6 p-4 position-relative" >
            <a href="#"><img src="~/images/Home/Ayylien-Banner-Square-Hats_acfd8784-f067-43ab-a9ea-ee9b3f13a19b_300x300.webp" class="w-100 vh-75" alt="Your Image 1"></a>
            <button type="button" class="rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">Check it out</button>     
        </div>
        <div class="col-md-6 p-4 position-relative">
            <a href="#"><img src="~/images/Home/Ayylien-Banner-Square-Hats_acfd8784-f067-43ab-a9ea-ee9b3f13a19b_720x.webp" class="w-100 vh-75" alt="Your Image 2"></a>
            <button type="button" class="rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">Check it out</button>
        </div>
    </div>
</div>

<h1 class="h1 px-4">Featured Products</h1>

<div class="container-fluid ms-1">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 p-4 h-100">
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card card">
                <a href="#">
                <img src="~/images/Home/IMG_3327.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3338.jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>
            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card">
                <a href="#">
                <img src="~/images/Home/IMG_3353.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3364 (1).jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>
            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="animated-card position-relative">
                <a href="#">
                <img src="~/images/Home/IMG_3327.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                    <img src="~/images/Home/IMG_3338.jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>
                
            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="animated-card position-relative">
                <a href="#">
                <img src="~/images/Home/IMG_3353.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3364 (1).jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>

            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card card">
                <a href="#">
                <img src="~/images/Home/IMG_3327.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3338.jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>

            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card">
                <a href="#">
                <img src="~/images/Home/IMG_3353.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3364 (1).jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>

            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card">
                <a href="#">
                <img src="~/images/Home/IMG_3327.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3338.jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>

            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div> 
        <div class="col-md-6 col-lg-3 position-relative">
            <div class="animated-card">
                <a href="#">
                <img src="~/images/Home/IMG_3353.jpg" alt="Card Back" class="image-bottom w-100 vh-50">
                <img src="~/images/Home/IMG_3364 (1).jpg" alt="Card Front" class="image-top w-100 vh-50">
                </a>
                <button type="button" class="button-top rounded-pill btn btn-primary position-absolute top-85 start-50 translate-middle">View now</button>
            </div>
            <a href="#">Interference Tee</a>
            <p>$30.00</p>
        </div>
    </div>
</div>
@* 
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 p-4">
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/250" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product 1</h5>
                <div class="btn-group mx-2 column-gap-3" role="group" aria-label="Size">
                    <button type="button" class="btn btn-outline-secondary">S</button>
                    <button type="button" class="btn btn-outline-secondary">M</button>
                    <button type="button" class="btn btn-outline-secondary">L</button>
                </div>
                <button type="button" class="btn btn-primary mt-2">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product 2</h5>
                <div class="btn-group column-gap-3" role="group" aria-label="Size">
                    <button type="button" class="btn btn-outline-secondary">Small</button>
                    <button type="button" class="btn btn-outline-secondary">Medium</button>
                    <button type="button" class="btn btn-outline-secondary">Large</button>
                </div>
                <button type="button" class="btn btn-primary mt-2">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product 3</h5>
                <div class="btn-group column-gap-3" role="group" aria-label="Size">
                    <button type="button" class="btn btn-outline-secondary">Small</button>
                    <button type="button" class="btn btn-outline-secondary">Medium</button>
                    <button type="button" class="btn btn-outline-secondary">Large</button>
                </div>
                <button type="button" class="btn btn-primary mt-2">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Product 4</h5>
                <div class="btn-group column-gap-3" role="group" aria-label="Size">
                    <button type="button" class="btn btn-outline-secondary">Small</button>
                    <button type="button" class="btn btn-outline-secondary">Medium</button>
                    <button type="button" class="btn btn-outline-secondary">Large</button>
                </div>
                <button type="button" class="btn btn-primary mt-2">Buy Now</button>
            </div>
        </div>
    </div>
</div> *@
@section Scripts{
    <script src="~/js/Home.js"></script>
}