
<canvas width="800" height="800"></canvas>
<input type="file" id="imageLoader" name="imageLoader">

<input type="radio" id="image1Radio" name="imageRadio" value="image1.jpg" checked>
<label for="image1Radio">Image 1</label>
<input type="radio" id="image2Radio" name="imageRadio" value="image2.jpg">
<label for="image2Radio">Image 2</label>
<input type="radio" id="image3Radio" name="imageRadio" value="about.jpg">
<label for="image3Radio">Image 3</label>
<button id="changeImageButton">Change Image</button>

@section Scripts{
	<script src="~/js/MakeAGame.js"></script>
}


@* <img src="~/images/MakeAGame/pngwing.com.png" /> *@