<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">
				Order List
			</h2>
		</div>
	</div>
	<table id="tblData" class="table table-striped-columns">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Phone Number</th>
				<th scope="col">Email</th>
				<th scope="col">Status</th>
				<th scope="col">Total</th>
				<th scope="col"></th>
			</tr>
		</thead>
	</table>
</div>
@section Scripts{
	<script src="~/js/order.js"></script>
}